.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
}

.locationsContainer {
  width: 45%;
  height: 700px;
  overflow-y: scroll;
  margin: 5px;
}

.locationCard {
  border: solid 1px rgb(235, 233, 238);
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
}

.locationCardSelected {
  background-color: rgb(247, 230, 226);
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
}

.addressContainer {
  margin: 18px 0px 18px 0px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

button {
  width: 150px;
  height: 30px;
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

p {
  margin: 5px;
}

.mapContainer {
  display: flex;
  width: 50%;
  height: 700px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 229, 229);
}

.hoursDayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moreInfoContainer {
  background-color: white;
  align-items: center;
  padding: 60px;
  border-radius: 20px;
  width: 25%;
  height: auto;
}

.tacoImgContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.tacoImg {
  height: 200px;
}