.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.locationsContainer {
  width: 45%;
  height: 700px;
  overflow-y: scroll;
  margin: 5px;
}

.locationCard {
  border: solid 1px rgb(235, 233, 238);
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
}

.locationCard-address {
  margin: 18px 0px 18px 0px;
}

p {
  margin: 5px;
}

.mapContainer {
  display: flex;
  width: 50%;
  height: 700px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 229, 229);
}